body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.NavBar a {
    color: black
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-slider{
    width: 95%;
    left: 2.5%;
    right: 2.5%;
}